<div class="footer">
  <div class="container">
    <div class="flex flex-between">
      <div class="flex flex-col logo__wrapper">
        {% assign logo_block = section.blocks | where: 'type', 'logo' %}
        {% if logo_block.settings.logo_image != blank %}
          {{
            logo_block.settings.logo_image
            | image_url: width: '400'
            | image_tag:
              alt: logo_block.settings.logo_image.alt,
              class: 'app-link__image',
              height: null,
              width: null,
              loading: 'lazy'
          }}
        {% endif %}
        <span class="logo__text">{{ logo_block.settings.text }}</span>
      </div>
      <div class="flex flex-col gap-20 newsletter__wrapper">
        {% assign newsletter_block = section.blocks | where: 'type', 'newsletter-form' %}
        <span class="newsletter__form-title">{{ newsletter_block.form_title }}</span>
        {% form 'contact' %}
          <div class="newsletter-form__wrapper">
            <input class="newsletter-form__input" placeholder="Your Email">
            <button
              class="newsletter-form__btn btn btn--primary btn--lg"
              type="submit"
            >
              {{- section.settings.button_text -}}
            </button>
          </div>
        {% endform %}
      </div>
    </div>
    <div class="h-splitter"></div>
    <div class="footer-links">
      {% assign footer_links = section.blocks | where: 'type', 'link_list' %}
      {% for footer_link in footer_links %}
        <div class="flex flex-col gap-20" style="width: {{ footer_link.settings.width }}%">
          <span class="footer-links__title">{{ footer_link.settings.title }}</span>
          {% for link in footer_link.link_list.links %}
            {{ link.title | link_to: link.url }}
          {% endfor %}
        </div>
      {% endfor %}
      {% assign mobile_app_block = section.blocks | where: 'type', 'mobile_app' %}
      <div class="flex flex-col">
        <div class="flex flex-col gap-20">
          <h4 class="footer__mobile-app__title">{{ mobile_app_block.settings.title }}</h4>
          <div class="flex">
            <a class="mobile-app__link" href="{{ mobile_app_block.settings.app_link_url }}">
              {% if mobile_app_block.settings.link_image != blank %}
                {{
                  mobile_app_block.settings.link_image
                  | image_url: width: '200'
                  | image_tag:
                    alt: mobile_app_block.settings.link_image.alt,
                    class: 'app-link__image',
                    height: null,
                    width: null,
                    loading: 'lazy'
                }}
              {% endif %}
              {% if mobile_app_block.settings.link_image_2 != blank %}
                {{
                  mobile_app_block.settings.link_image_2
                  | image_url: width: '200'
                  | image_tag:
                    alt: mobile_app_block.settings.link_image_2.alt,
                    class: 'app-link__image',
                    height: null,
                    width: null,
                    loading: 'lazy'
                }}
              {% endif %}
            </a>
          </div>
        </div>
        {% if mobile_app_block.settings.show_socials %}
          <div class="footer__social flex flex-col">
            <span class="footer__social__title text-gradient">Social Media</span>
            <div class="flex gap-10">
              {% if mobile_app_block.settings.facebook %}
                <a class="social-icon" href="{{ mobile_app_block }}">
                  <svg width="9" height="19" viewBox="0 0 9 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 11.2499H8.14286L9 7.6499H6V5.8499C6 4.9229 6 4.0499 7.71429 4.0499H9V1.0259C8.72057 0.987202 7.66543 0.899902 6.55114 0.899902C4.224 0.899902 2.57143 2.3912 2.57143 5.1299V7.6499H0V11.2499H2.57143V18.8999H6V11.2499Z" fill="white"/>
                  </svg>
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Footer",
  "settings": [],
  "blocks": [
    {
      "type": "logo",
      "name": "Footer Logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Maximize your business and investment profits with expert guidance and innovative solutions."
        }
      ]
    },
    {
      "type": "newsletter-form",
      "name": "Newsletter Form",
      "settings": [
        {
          "type": "text",
          "id": "form_title",
          "label": "Form Title",
          "default": "Subscribe Our Newsletter"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Link List",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Quick Links"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Link List"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "%",
          "default": 20
        }
      ]
    },
    {
      "type": "mobile_app",
      "name": "Mobile App",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "link_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "app_link_url",
          "label": "App Link Url"
        },
        {
          "type": "image_picker",
          "id": "link_image_2",
          "label": "Image 2"
        },
        {
          "type": "url",
          "id": "app_link_url_2",
          "label": "App Link Url 2"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "%",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show Socials",
          "default": true
        },
        {
          "type": "url",
          "id": "facebook",
          "label": "Facebook"
        },
        {
          "type": "url",
          "id": "twitter",
          "label": "Twitter"
        },
        {
          "type": "url",
          "id": "linkedin",
          "label": "Linkedin"
        },
        {
          "type": "url",
          "id": "whatsapp",
          "label": "Whatsapp"
        },
        {
          "type": "url",
          "id": "telegram",
          "label": "Telegram"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Footer"
    }
  ]
}
{% endschema %}
