{% style %}
  .footer .container {
    height: max(calc(100vw / {{section.settings.bg_image.aspect_ratio}}), 860px);
  }

  .footer__bg-image {
    height: max(calc(100vw / {{section.settings.bg_image.aspect_ratio}} - 15px), 840px);
  }
{% endstyle %}
<div class="footer">
  {% if section.settings.bg_image != blank %}
    {{
      section.settings.bg_image
      | image_url: width: '1500'
      | image_tag:
        alt: section.settings.bg_image.alt,
        class: 'footer__bg-image',
        height: null,
        width: null,
        loading: 'lazy'
    }}
  {% endif %}
  <div class="container">
    <div class="flex flex-between" style="margin-bottom: 35px;">
      <div class="flex flex-col logo__wrapper gap-15">
        {% assign logo = section.blocks | where: 'type', 'footer_logo' %}
        {% if logo[0].settings.logo_image != blank %}
          {{
            logo[0].settings.logo_image
            | image_url: width: '400'
            | image_tag:
              alt: logo[0].settings.logo_image.alt,
              class: 'footer__logo-image',
              height: null,
              width: null,
              loading: 'lazy'
          }}
        {% endif %}
        <span class="logo__text">{{ logo[0].settings.text }}</span>
      </div>
      <div class="flex flex-col gap-20 newsletter__wrapper">
        {% assign newsletter_block = section.blocks | where: 'type', 'newsletter-form' %}
        <span class="newsletter__form-title text-gradient">{{ newsletter_block[0].settings.form_title }}</span>
        {% form 'contact' %}
          <div class="newsletter-form__wrapper">
            <input class="newsletter-form__input" placeholder="Your Email">
            <button
              class="newsletter-form__btn btn btn--primary btn--lg"
              type="submit"
            >
              Subscribe
            </button>
          </div>
        {% endform %}
      </div>
    </div>
    <div class="h-splitter"></div>
    <div class="footer-links flex">
      {% assign footer_links = section.blocks | where: 'type', 'link_list' %}
      {% for footer_link in footer_links %}
        <div class="flex flex-col gap-20" style="width: {{ footer_link.settings.width }}%">
          <span class="footer-links__title text-gradient">{{ footer_link.settings.title }}</span>
          {% for link in footer_link.settings.link_list.links %}
            {{ link.title | link_to: link.url }}
          {% endfor %}
        </div>
      {% endfor %}
      {% assign mobile_app_block = section.blocks | where: 'type', 'mobile_app' %}
      <div class="flex flex-col gap-45">
        <div class="flex flex-col gap-20">
          <h4 class="footer__mobile-app__title text-gradient">{{ mobile_app_block[0].settings.title }}</h4>
          <div class="flex gap-10">
            <a class="mobile-app__link" href="{{ mobile_app_block[0].settings.app_link_url }}">
              {% if mobile_app_block[0].settings.link_image != blank %}
                {{
                  mobile_app_block[0].settings.link_image
                  | image_url: width: '200'
                  | image_tag:
                    alt: mobile_app_block[0].settings.link_image.alt,
                    class: 'app-link__image',
                    height: null,
                    width: null,
                    loading: 'lazy'
                }}
              {% endif %}
            </a>
            <a class="mobile-app__link" href="{{ mobile_app_block[0].settings.app_link_url_2 }}">
              {% if mobile_app_block[0].settings.link_image_2 != blank %}
                {{
                  mobile_app_block[0].settings.link_image_2
                  | image_url: width: '200'
                  | image_tag:
                    alt: mobile_app_block[0].settings.link_image_2.alt,
                    class: 'app-link__image',
                    height: null,
                    width: null,
                    loading: 'lazy'
                }}
              {% endif %}
            </a>
          </div>
        </div>
        {% if mobile_app_block[0].settings.show_social_icons %}
          <div class="footer__social flex flex-col gap-15">
            <span class="footer__social__title text-gradient">Social Media</span>
            <div class="flex gap-10">
              {% if mobile_app_block[0].settings.facebook %}
                <a class="social-icon" href="{{ mobile_app_block }}">
                  <span>
                    <svg width="9" height="19" viewBox="0 0 9 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 11.2499H8.14286L9 7.6499H6V5.8499C6 4.9229 6 4.0499 7.71429 4.0499H9V1.0259C8.72057 0.987202 7.66543 0.899902 6.55114 0.899902C4.224 0.899902 2.57143 2.3912 2.57143 5.1299V7.6499H0V11.2499H2.57143V18.8999H6V11.2499Z" fill="white"/>
                    </svg>
                  </span>
                </a>
              {% endif %}
              {% if mobile_app_block[0].settings.twitter %}
                <a class="social-icon" href="{{ mobile_app_block }}">
                  <span>
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19 2.66461C18.3007 2.97343 17.5468 3.17637 16.7658 3.27343C17.565 2.80578 18.1826 2.06461 18.4732 1.17343C17.7194 1.61461 16.8838 1.92343 16.0029 2.0999C15.2854 1.34108 14.2772 0.899902 13.1329 0.899902C10.9986 0.899902 9.25478 2.59402 9.25478 4.6852C9.25478 4.9852 9.29111 5.27637 9.35469 5.5499C6.12142 5.39108 3.24235 3.88226 1.326 1.59696C0.989962 2.15284 0.799235 2.80578 0.799235 3.49402C0.799235 4.80873 1.4804 5.97343 2.53394 6.6352C1.8891 6.6352 1.28968 6.45873 0.762907 6.19402V6.22049C0.762907 8.05578 2.10707 9.59108 3.88719 9.9352C3.31567 10.0871 2.71567 10.1083 2.13432 9.99696C2.381 10.7491 2.86411 11.4073 3.51574 11.879C4.16737 12.3506 4.95476 12.612 5.76721 12.6264C4.39001 13.6856 2.68288 14.2581 0.926386 14.2499C0.617591 14.2499 0.308795 14.2323 0 14.197C1.72562 15.2734 3.7782 15.8999 5.9761 15.8999C13.1329 15.8999 17.0655 10.1293 17.0655 5.12637C17.0655 4.95873 17.0655 4.7999 17.0564 4.63225C17.8193 4.10284 18.4732 3.43226 19 2.66461Z" fill="white"/>
                    </svg>
                  </span>
                </a>
              {% endif %}
              {% if mobile_app_block[0].settings.linkedin %}
                <a class="social-icon" href="{{ mobile_app_block }}">
                  <span>
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.56768 2.67847C3.56745 3.14994 3.37928 3.60201 3.04458 3.93522C2.70987 4.26843 2.25605 4.4555 1.78295 4.45526C1.30984 4.45503 0.856212 4.26751 0.521844 3.93396C0.187476 3.60042 -0.000236329 3.14816 2.23302e-07 2.67669C0.000236775 2.20522 0.188403 1.75316 0.523106 1.41994C0.857808 1.08673 1.31163 0.899667 1.78473 0.899903C2.25784 0.900138 2.71147 1.08765 3.04584 1.4212C3.3802 1.75475 3.56792 2.207 3.56768 2.67847ZM3.6212 5.77163H0.0535154V16.8999H3.6212V5.77163ZM9.25813 5.77163H5.70829V16.8999H9.22246V11.0602C9.22246 7.80708 13.4769 7.50487 13.4769 11.0602V16.8999H17V9.85141C17 4.36727 10.703 4.5717 9.22246 7.26488L9.25813 5.77163Z" fill="white"/>
                    </svg>
                  </span>
                </a>
              {% endif %}
              {% if mobile_app_block[0].settings.whatsapp %}
                <a class="social-icon" href="{{ mobile_app_block }}">
                  <span>
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.00001 0.899902C13.9707 0.899902 18 4.9292 18 9.8999C18 14.8706 13.9707 18.8999 9.00001 18.8999C7.40951 18.9025 5.847 18.4815 4.47301 17.6804L0.00361266 18.8999L1.22041 14.4287C0.418596 13.0543 -0.00264454 11.4911 1.24922e-05 9.8999C1.24922e-05 4.9292 4.02931 0.899902 9.00001 0.899902ZM5.93281 5.6699L5.75281 5.6771C5.63628 5.6842 5.52239 5.71481 5.41801 5.7671C5.32038 5.82239 5.23126 5.8915 5.15341 5.9723C5.04541 6.074 4.98421 6.1622 4.91851 6.2477C4.58562 6.68051 4.40638 7.21188 4.40911 7.7579C4.41091 8.1989 4.52611 8.6282 4.70611 9.0296C5.07421 9.8414 5.67991 10.7009 6.47911 11.4974C6.67171 11.6891 6.86071 11.8817 7.06411 12.0608C8.05716 12.9351 9.24053 13.5656 10.5201 13.9022L11.0313 13.9805C11.1978 13.9895 11.3643 13.9769 11.5317 13.9688C11.7938 13.9553 12.0498 13.8843 12.2814 13.7609C12.3993 13.7002 12.5143 13.6341 12.6261 13.5629C12.6261 13.5629 12.6648 13.5377 12.7386 13.4819C12.8601 13.3919 12.9348 13.328 13.0356 13.2227C13.1103 13.1453 13.1751 13.0544 13.2246 12.9509C13.2948 12.8042 13.365 12.5243 13.3938 12.2912C13.4154 12.113 13.4091 12.0158 13.4064 11.9555C13.4028 11.8592 13.3227 11.7593 13.2354 11.717L12.7116 11.4821C12.7116 11.4821 11.9286 11.141 11.4498 10.9232C11.3997 10.9013 11.346 10.8888 11.2914 10.8863C11.2298 10.88 11.1676 10.8869 11.1089 10.9066C11.0503 10.9263 10.9965 10.9584 10.9512 11.0006C10.9467 10.9988 10.8864 11.0501 10.2357 11.8385C10.1984 11.8887 10.1469 11.9266 10.0879 11.9474C10.0289 11.9683 9.96509 11.9711 9.90451 11.9555C9.84588 11.9398 9.78843 11.9199 9.7326 11.8961C9.62101 11.8493 9.58231 11.8313 9.50581 11.7989C8.98927 11.5735 8.51103 11.2689 8.08831 10.8962C7.97491 10.7972 7.86961 10.6892 7.76161 10.5848C7.40754 10.2457 7.09896 9.8621 6.84361 9.4436L6.79051 9.3581C6.75237 9.30064 6.72153 9.23867 6.69871 9.1736C6.66451 9.0413 6.75361 8.9351 6.75361 8.9351C6.75361 8.9351 6.97231 8.6957 7.07401 8.5661C7.17301 8.4401 7.25671 8.3177 7.31071 8.2304C7.41691 8.0594 7.45021 7.8839 7.39441 7.748C7.14241 7.1324 6.88141 6.5195 6.61321 5.9111C6.56011 5.7905 6.40261 5.7041 6.25951 5.687C6.21091 5.6816 6.16231 5.6762 6.11371 5.6726C5.99284 5.66659 5.87173 5.6678 5.75101 5.6762L5.93281 5.6699Z" fill="white"/>
                    </svg>
                  </span>
                </a>
              {% endif %}
              {% if mobile_app_block[0].settings.telegram %}
                <a class="social-icon" href="{{ mobile_app_block }}">
                  <span>
                    <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.9459 2.35614L16.0786 15.9341C15.8621 16.8922 15.2981 17.1307 14.4967 16.6796L10.1276 13.4468L8.01969 15.483C7.78624 15.7174 7.59147 15.913 7.14153 15.913L7.45574 11.4454L15.5526 4.09862C15.9049 3.78379 15.4759 3.60865 15.0056 3.92417L4.99566 10.2535L0.68627 8.89878C-0.250937 8.60507 -0.267903 7.95769 0.881719 7.50589L17.7372 0.985058C18.5176 0.691352 19.2003 1.15883 18.9459 2.35614Z" fill="white"/>
                    </svg>
                  </span>
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="h-splitter"></div>
    <div class="footer__addition flex flex-between">
      <span class="copyright"
        >@{{ 'now' | date: '%Y' }}
        {{ section.settings.copyright -}}
      </span>
      <div class="flex gap-35">
        {% for link in section.settings.footer_link.links %}
          {{ link.title | link_to: link.url }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Custom Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "textarea",
      "id": "copyright",
      "label": "Copyright"
    },
    {
      "type": "link_list",
      "id": "footer_link",
      "label": "Footer Link"
    }
  ],
  "blocks": [
    {
      "type": "footer_logo",
      "name": "Footer Logo",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Maximize your business and investment profits with expert guidance and innovative solutions."
        }
      ]
    },
    {
      "type": "newsletter-form",
      "name": "Newsletter Form",
      "settings": [
        {
          "type": "text",
          "id": "form_title",
          "label": "Form Title",
          "default": "Subscribe Our Newsletter"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Link List",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Quick Links"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Link List"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "%",
          "default": 20
        }
      ]
    },
    {
      "type": "mobile_app",
      "name": "Mobile App",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "link_image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "app_link_url",
          "label": "App Link Url"
        },
        {
          "type": "image_picker",
          "id": "link_image_2",
          "label": "Image 2"
        },
        {
          "type": "url",
          "id": "app_link_url_2",
          "label": "App Link Url 2"
        },
        {
          "type": "range",
          "id": "width",
          "label": "Width",
          "min": 10,
          "max": 50,
          "step": 1,
          "unit": "%",
          "default": 20
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show Socials",
          "default": true
        },
        {
          "type": "url",
          "id": "facebook",
          "label": "Facebook"
        },
        {
          "type": "url",
          "id": "twitter",
          "label": "Twitter"
        },
        {
          "type": "url",
          "id": "linkedin",
          "label": "Linkedin"
        },
        {
          "type": "url",
          "id": "whatsapp",
          "label": "Whatsapp"
        },
        {
          "type": "url",
          "id": "telegram",
          "label": "Telegram"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Footer"
    }
  ]
}
{% endschema %}
