{%- style -%}
  #hero-section--{{ section.id }} {
    /* background-image: url('{{ section.settings.bg_image |  image_url }}');
    background-size: cover;
    width: calc(100vw - 30px); */
    /* height: */
    padding-left: {{ section.settings.padding_side }}px;
    padding-right: {{ section.settings.padding_side }}px;
  }
{%- endstyle -%}
<div id="hero-section--{{ section.id }}" class="section section-hero">
  {{
    section.settings.bg_image
    | image_url: width: '1500'
    | image_tag: alt: section.settings.bg_image.alt, class: 'hero__image', height: null, width: null, loading: 'lazy'
  }}
  <div class="hero__content flex flex-col align-center w-full">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'button' -%}
          <a
            href="{{ block.settings.button_url }}"
            class="hero__button flex flex-center align-center gap-5"
          >
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8" cy="8.5" r="8" fill="{{ block.settings.ellipse_color }}" fill-opacity="0.2"/>
              <circle cx="8" cy="8.5" r="5" fill="{{ block.settings.ellipse_color }}" fill-opacity="0.5"/>
              <circle cx="8" cy="8.5" r="3" fill="{{ block.settings.ellipse_color }}"/>
            </svg>
            <span style="color: {{ block.settings.text_color }};">{{ block.settings.button_text }}</span>
            {%- render 'icon-arrow-right', color: block.settings.text_color -%}
          </a>
        {%- when 'title' -%}
          <h1
            class="hero__title heading center {%if block.settings.is_gradient%}text-gradient{%- endif -%}"
            style="font-size: {{ block.settings.title_font-size }}px;"
          >
            {{ block.settings.title }}
          </h1>
        {%- when 'sub_title' -%}
          <div class="hero__description">{{ block.settings.description }}</div>
      {%- endcase -%}
    {%- endfor -%}
  </div>

  {% comment %} <img class="hero__image" src="{{ section.settings.bg_image |  image_url }}" style="width: 100%;"> {% endcomment %}
</div>
{%- schema -%}
{
  "name": "Hero Section",
  "class": "section section-hero",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Hero Section"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "range",
      "id": "padding_side",
      "label": "Padding Side",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 15
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "is_gradient",
          "label": "Enable Gradient",
          "default": false
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color"
        },
        {
          "type": "range",
          "id": "title_font_size",
          "label": "Title Font Size",
          "min": 32,
          "max": 90,
          "unit": "px",
          "step": 1,
          "default": 70
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "is_gradient",
          "label": "Enable Gradient",
          "default": false
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "label": "Decription Font Size",
          "min": 14,
          "max": 50,
          "unit": "px",
          "step": 1,
          "default": 20
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Button Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "ellipse_color",
          "label": "Ellipse Icon Color",
          "default": "#FDEA43"
        }
      ]
    },
    {
      "type": "review",
      "name": "Review",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Button Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Button Background Color",
          "default": "#48B065"
        },
        {
          "type": "range",
          "id": "review_rating",
          "label": "Review Rating",
          "min": 1,
          "max": 5,
          "step": 0.5,
          "default": 5
        },
        {
          "type": "color",
          "id": "star_color",
          "label": "Star Color",
          "default": "#FDDD33"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{%- endschema -%}
